{{#each errors}}
    <div class="alert alert-danger">{{error}}</div>
{{else}}
{{/each}}
<div class="card">
    <h3>Editing Category</h3>
    <div class="card-body">
        <form action="/admin/categories/edit" method="POST">
            <input type="hidden" name="id" value={{category._id}}>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Category" class="form-control" value="{{category.name}}">
            <label for="slug">Slug:</label>
            <input type="text" name="slug" id="slug" placeholder="Slug" class="form-control" value="{{category.slug}}">
            <br>
            <button type="submit" class="btn btn-primary">Save Category</button>
        </form>
    </div>
</div>