<h2>Posts List</h2>
<hr>
<a href="/admin/post/add"><button class="btn btn-secondary">New Post</button></a>

{{#each post}}
    <div class="card card-body mt-4">
        <h4>{{title}}</h4>
        <small>{{slug}}</small>
        <small>{{description}}</small>
        <small>{{content}}</small>
        <a href="/admin/post/edit/{{_id}}"><button class="btn btn-success mt-3">Edit</button></a>
        
        <form action="/admin/posts/delete" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger mt-2">Delete</button>
        </form>
    </div>
    {{else}}
    <h4 class="mt-2">Nenhuma post registrado!</h4>
{{/each}}